<nav class="sticky-top navbar navbar-expand-lg bg-dark navbar-blur navbar-light shadow-sm">
    <div class="container">
      <!-- Brand title -->
      <a class="navbar-brand fw-bold text-light" href="/home">The Spot</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse w-100" id="navbarNav">
        <!-- Center the nav items -->
        <ul class="navbar-nav mx-auto w-100 d-flex justify-content-center"> 
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/items">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/admin">Admin</a>
          </li>
          
            <!--TEST ROUTES FOR LOGIN & LANDING-->
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/authentication">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/landing">Landing</a>
            
            <!--Profile & Cart on right side-->>
            </ul>
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link text-light cart-icon" routerLink="/cart" routerLinkActive="active">
                  <i class = "fas fa-cart-shopping"></i>
                </a>
              </li>
              <li class="nav-item">
              <a class="nav-link text-light cart-icon" routerLink="/profile" routerLinkActive="active">
                <i class="fas fa-user"></i>
              </a>
            </li>
            
        </ul>
        
      </div>
    </div>
  </nav>
    <router-outlet></router-outlet>